In [1]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

In [2]:
TRAIN_PATH = 'filtered_train_df_0705.csv'
VAL_PATH = 'filtered_val_df_0705.csv'
TEST_PATH = 'filtered_test_df_0705.csv'

In [3]:
train_df = pd.read_csv(TRAIN_PATH)

In [ ]:
for path in [TRAIN_PATH,VAL_PATH,TEST_PATH]:
    df = pd.read_csv(path)
    df = df[['ID','Label']].groupby(by='ID').max().reset_index()
    total = df.shape[0]
    type_d = path.split('_')[1]
    df=df.groupby(by='Label').count().reset_index()
    print(f'{type_d}: Label 0: {df[df.Label==0]["ID"].values[0]}/{total}={df[df.Label==0]["ID"].values[0]/total}')
    print(f'{type_d}: Label 1: {df[df.Label==1]["ID"].values[0]}/{total}={df[df.Label==1]["ID"].values[0]/total} ')

In [38]:
train_small = train_df[['ID','Label']].groupby(by='ID').max().reset_index()
over = RandomOverSampler(sampling_strategy=0.3)
under = RandomUnderSampler(sampling_strategy=0.5)
ids_over,labels_over = over.fit_resample(train_small[['ID']], train_small['Label'])
ids_over_under,labels_over_under = under.fit_resample(ids_over, labels_over)

In [39]:
ids_over,labels_over = over.fit_resample(train_small[['ID']], train_small['Label'])

In [5]:
s = train_df[train_df['ID'].isin([0,1,2,3])]
s

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,ID,Label,max_ICULOS,time_bm
75951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,1.0,-98.60,1,0,0,0,23,-22
75952,61.0,99.0,36.44,124.0,65.00,43.0,17.5,NaN,NaN,NaN,...,0,0.0,1.0,-98.60,2,0,0,0,23,-21
75953,64.0,98.0,NaN,125.0,64.00,41.0,27.0,NaN,NaN,NaN,...,0,0.0,1.0,-98.60,3,0,0,0,23,-20
75954,56.0,100.0,NaN,123.0,65.00,41.0,9.0,NaN,NaN,NaN,...,0,0.0,1.0,-98.60,4,0,0,0,23,-19
75955,66.0,99.0,NaN,120.0,67.00,43.0,23.0,NaN,NaN,NaN,...,0,0.0,1.0,-98.60,5,0,0,0,23,-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539766,58.0,99.0,NaN,152.5,100.00,76.0,14.0,NaN,NaN,NaN,...,1,NaN,NaN,-0.02,44,0,3,0,48,-4
539767,68.0,99.0,NaN,128.0,74.33,77.0,17.0,NaN,NaN,NaN,...,1,NaN,NaN,-0.02,45,0,3,0,48,-3
539768,71.0,95.0,NaN,146.5,94.50,73.0,17.0,NaN,NaN,23.0,...,1,NaN,NaN,-0.02,46,0,3,0,48,-2
539769,71.0,96.0,37.00,149.0,94.00,73.0,18.0,NaN,NaN,NaN,...,1,NaN,NaN,-0.02,47,0,3,0,48,-1
539770,71.0,95.0,NaN,136.0,90.00,71.0,20.0,NaN,NaN,NaN,...,1,NaN,NaN,-0.02,48,0,3,0,48,0

In [58]:
# FREQUENCY_ATTR =['5w_sum_BaseExcess', '5w_sum_FiO2', '5w_sum_pH', '5w_sum_PaCO2', '5w_sum_Glucose', '5w_sum_Lactate', '5w_sum_PTT']
LAB_ATTR = [ 'Hct',  'Glucose','Potassium']
CONST_ATTR = ['ID','max_ICULOS','Gender']
OTHER_ATTR = ['HR','MAP','O2Sat', 'Resp','SBP','ICULOS']
LABEL_ATTR= 'Label'
COLS = CONST_ATTR+LAB_ATTR+OTHER_ATTR

In [59]:
s = s[COLS+[LABEL_ATTR]]
s

,ID,max_ICULOS,Gender,Hct,Glucose,Potassium,HR,MAP,O2Sat,Resp,SBP,ICULOS,Label
75951,0,23,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
75952,0,23,0,NaN,NaN,NaN,61.0,65.00,99.0,17.5,124.0,2,0
75953,0,23,0,NaN,NaN,NaN,64.0,64.00,98.0,27.0,125.0,3,0
75954,0,23,0,NaN,NaN,NaN,56.0,65.00,100.0,9.0,123.0,4,0
75955,0,23,0,NaN,NaN,NaN,66.0,67.00,99.0,23.0,120.0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539766,3,48,1,NaN,NaN,NaN,58.0,100.00,99.0,14.0,152.5,44,0
539767,3,48,1,NaN,NaN,NaN,68.0,74.33,99.0,17.0,128.0,45,0
539768,3,48,1,39.8,94.0,3.9,71.0,94.50,95.0,17.0,146.5,46,0
539769,3,48,1,NaN,NaN,NaN,71.0,94.00,96.0,18.0,149.0,47,0
539770,3,48,1,NaN,NaN,NaN,71.0,90.00,95.0,20.0,136.0,48,0

In [95]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
patients = list(set(train_df.ID.values))
imputed = pd.DataFrame()
all_data_means = train_df.mean()
for patient in patients:
    tmp_df = train_df[train_df['ID']==patient][COLS+['Label']]
    # print(tmp_df.shape)
    for f in LAB_ATTR+OTHER_ATTR:
        if tmp_df[f].isnull().all:
            tmp_df[f]=tmp_df[f].fillna(all_data_means[f])
    imp = IterativeImputer(max_iter=50, random_state=0)
    try:
        imp.fit(tmp_df)
        tmp_df= pd.DataFrame(imp.transform(tmp_df), columns = COLS+['Label'])
        imputed=imputed.append(tmp_df)
    except:
        print(tmp_df.shape)
print('done')

(33, 13)
(54, 13)
(58, 13)

KeyboardInterrupt:

In [92]:
train_df.mean()['HR']

84.48628456940398

In [71]:
imputed[imputed.ID==3]

,ID,max_ICULOS,Gender,Hct,Glucose,Potassium,HR,MAP,O2Sat,Resp,SBP,ICULOS,Label
0,3.0,48.0,1.0,42.273606,160.732764,3.9,77.000000,95.000000,97.000000,14.000000,135.000000,4.0,0.0
1,3.0,48.0,1.0,42.094533,160.737112,3.9,73.000000,91.000000,99.000000,16.000000,139.000000,5.0,0.0
2,3.0,48.0,1.0,41.602434,160.743672,3.9,62.000000,96.000000,99.000000,13.000000,143.000000,6.0,0.0
3,3.0,48.0,1.0,42.225180,160.736909,3.9,84.909192,91.480435,97.141373,16.401137,138.294600,7.0,0.0
4,3.0,48.0,1.0,42.190665,160.737245,3.9,84.497589,91.321775,97.113864,16.421269,138.219925,8.0,0.0
5,3.0,48.0,1.0,42.156150,160.737580,3.9,84.085986,91.163115,97.086355,16.441401,138.145250,9.0,0.0
6,3.0,48.0,1.0,41.013945,160.758143,3.9,74.000000,106.000000,98.000000,14.000000,152.000000,10.0,0.0
7,3.0,48.0,1.0,40.966113,160.758971,3.9,75.500000,107.500000,98.000000,14.000000,152.000000,11.0,0.0
8,3.0,48.0,1.0,41.762034,160.746731,3.9,92.000000,99.500000,98.000000,16.500000,143.000000,12.0,0.0
9,3.0,48.0,1.0,41.618178,160.752475,3.9,98.000000,98.500000,97.500000,20.500000,148.000000,13.0,0.0
10,3.0,48.0,1.0,42.079259,160.742476,3.9,100.500000,94.000000,97.000000,19.000000,140.000000,14.0,0.0
11,3.0,48.0,1.0,42.013831,160.744554,3.9,96.000000,86.000000,94.000000,18.000000,143.500000,15.0,0.0
12,3.0,48.0,1.0,42.481801,160.734680,3.9,100.000000,83.000000,96.000000,18.000000,135.000000,16.0,0.0
13,3.0,48.0,1.0,42.565978,160.732182,3.9,101.000000,84.000000,98.000000,20.000000,132.000000,17.0,0.0
14,3.0,48.0,1.0,42.576646,160.724518,3.9,82.000000,83.000000,97.000000,15.000000,125.000000,18.0,0.0
15,3.0,48.0,1.0,41.742494,160.742988,3.9,79.000000,89.000000,99.000000,15.000000,139.000000,19.0,0.0
16,3.0,48.0,1.0,41.262656,160.752022,3.9,78.000000,96.000000,98.000000,16.000000,145.000000,20.0,0.0
17,3.0,48.0,1.0,41.421061,160.747369,3.9,73.000000,90.000000,97.000000,18.000000,142.000000,21.0,0.0
18,3.0,48.0,1.0,42.334786,160.724466,3.9,68.000000,80.000000,96.000000,16.000000,124.000000,22.0,0.0
19,3.0,48.0,1.0,42.400000,98.000000,3.9,81.000000,79.000000,95.000000,16.000000,118.000000,23.0,0.0
20,3.0,48.0,1.0,42.844455,160.712386,3.9,73.000000,79.000000,96.000000,16.000000,113.000000,24.0,0.0
21,3.0,48.0,1.0,42.022546,160.730378,3.9,71.000000,85.000000,95.000000,18.000000,127.000000,25.0,0.0
22,3.0,48.0,1.0,41.709582,160.742781,3.9,88.000000,91.000000,97.000000,20.000000,136.000000,26.0,0.0
23,3.0,48.0,1.0,41.717977,160.738881,3.9,71.000000,82.000000,97.000000,18.000000,134.000000,27.0,0.0
24,3.0,48.0,1.0,41.470035,160.745639,3.9,73.500000,82.500000,96.000000,17.500000,139.500000,28.0,0.0
25,3.0,48.0,1.0,41.650631,160.740132,3.9,69.000000,79.000000,96.000000,14.000000,135.000000,29.0,0.0
26,3.0,48.0,1.0,41.942197,160.732891,3.9,74.000000,81.000000,96.000000,19.000000,128.000000,30.0,0.0
27,3.0,48.0,1.0,42.148040,160.725746,3.9,68.000000,78.000000,96.000000,19.000000,122.000000,31.0,0.0
28,3.0,48.0,1.0,40.669542,160.761190,3.9,67.000000,85.000000,94.000000,17.000000,151.000000,32.0,0.0
29,3.0,48.0,1.0,41.235857,160.750384,3.9,76.000000,82.000000,94.000000,17.000000,142.000000,33.0,0.0
30,3.0,48.0,1.0,41.811297,160.729632,3.9,68.000000,88.000000,95.000000,15.000000,122.000000,34.0,0.0
31,3.0,48.0,1.0,41.526655,160.742676,3.9,80.000000,84.000000,95.000000,18.000000,134.000000,35.0,0.0
32,3.0,48.0,1.0,40.980218,207.000000,3.9,86.000000,92.000000,97.000000,17.000000,150.000000,36.0,0.0
33,3.0,48.0,1.0,40.830239,160.755892,3.9,70.000000,86.000000,95.000000,11.000000,144.000000,37.0,0.0
34,3.0,48.0,1.0,40.988688,160.758249,3.9,86.000000,82.000000,94.000000,21.000000,147.000000,38.0,0.0
35,3.0,48.0,1.0,41.486837,160.739665,3.9,72.000000,82.000000,96.000000,17.000000,130.000000,39.0,0.0
36,3.0,48.0,1.0,40.708556,160.757867,3.9,71.000000,87.000000,98.000000,16.000000,144.000000,40.0,0.0
37,3.0,48.0,1.0,41.318516,244.000000,3.9,70.000000,88.000000,96.000000,16.000000,140.000000,41.0,0.0
38,3.0,48.0,1.0,41.487542,160.729879,3.9,64.500000,97.500000,98.000000,17.000000,116.500000,42.0,0.0
39,3.0,48.0,1.0,41.542659,160.733853,3.9,68.500000,85.670000,98.000000,17.500000,122.250000,43.0,0.0
40,3.0,48.0,1.0,39.692607,160.773214,3.9,58.000000,100.000000,99.000000,14.000000,152.500000,44.0,0.0
41,3.0,48.0,1.0,41.483593,160.738635,3.9,68.000000,74.330000,99.000000,17.000000,128.000000,45.0,0.0
42,3.0,48.0,1.0,39.800000,94.000000,3.9,71.000000,94.500000,95.000000,17.000000,146.500000,46.0,0.0
43,3.0,48.0,1.0,40.074885,160.768342,3.9,71.000000,94.000000,96.000000,18.000000,149.000000,47.0,0.0
44,3.0,48.0,1.0,40.698574,160.752613,3.9,71.000000,90.000000,95.000000,20.000000,136.000000,48.0,0.0

In [70]:
s[s.ID==3]

,ID,max_ICULOS,Gender,Hct,Glucose,Potassium,HR,MAP,O2Sat,Resp,SBP,ICULOS,Label
539726,3,48,1,NaN,NaN,NaN,77.0,95.00,97.0,14.0,135.00,4,0
539727,3,48,1,NaN,NaN,NaN,73.0,91.00,99.0,16.0,139.00,5,0
539728,3,48,1,NaN,NaN,NaN,62.0,96.00,99.0,13.0,143.00,6,0
539729,3,48,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,0
539730,3,48,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,0
539731,3,48,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,0
539732,3,48,1,NaN,NaN,NaN,74.0,106.00,98.0,14.0,152.00,10,0
539733,3,48,1,NaN,NaN,NaN,75.5,107.50,98.0,14.0,152.00,11,0
539734,3,48,1,NaN,NaN,NaN,92.0,99.50,98.0,16.5,143.00,12,0
539735,3,48,1,NaN,NaN,NaN,98.0,98.50,97.5,20.5,148.00,13,0
539736,3,48,1,NaN,NaN,NaN,100.5,94.00,97.0,19.0,140.00,14,0
539737,3,48,1,NaN,NaN,NaN,96.0,86.00,94.0,18.0,143.50,15,0
539738,3,48,1,NaN,NaN,NaN,100.0,83.00,96.0,18.0,135.00,16,0
539739,3,48,1,NaN,NaN,NaN,101.0,84.00,98.0,20.0,132.00,17,0
539740,3,48,1,NaN,NaN,NaN,82.0,83.00,97.0,15.0,125.00,18,0
539741,3,48,1,NaN,NaN,NaN,79.0,89.00,99.0,15.0,139.00,19,0
539742,3,48,1,NaN,NaN,NaN,78.0,96.00,98.0,16.0,145.00,20,0
539743,3,48,1,NaN,NaN,NaN,73.0,90.00,97.0,18.0,142.00,21,0
539744,3,48,1,NaN,NaN,NaN,68.0,80.00,96.0,16.0,124.00,22,0
539745,3,48,1,42.4,98.0,3.9,81.0,79.00,95.0,16.0,118.00,23,0
539746,3,48,1,NaN,NaN,NaN,73.0,79.00,96.0,16.0,113.00,24,0
539747,3,48,1,NaN,NaN,NaN,71.0,85.00,95.0,18.0,127.00,25,0
539748,3,48,1,NaN,NaN,NaN,88.0,91.00,97.0,20.0,136.00,26,0
539749,3,48,1,NaN,NaN,NaN,71.0,82.00,97.0,18.0,134.00,27,0
539750,3,48,1,NaN,NaN,NaN,73.5,82.50,96.0,17.5,139.50,28,0
539751,3,48,1,NaN,NaN,NaN,69.0,79.00,96.0,14.0,135.00,29,0
539752,3,48,1,NaN,NaN,NaN,74.0,81.00,96.0,19.0,128.00,30,0
539753,3,48,1,NaN,NaN,NaN,68.0,78.00,96.0,19.0,122.00,31,0
539754,3,48,1,NaN,NaN,NaN,67.0,85.00,94.0,17.0,151.00,32,0
539755,3,48,1,NaN,NaN,NaN,76.0,82.00,94.0,17.0,142.00,33,0
539756,3,48,1,NaN,NaN,NaN,68.0,88.00,95.0,15.0,122.00,34,0
539757,3,48,1,NaN,NaN,NaN,80.0,84.00,95.0,18.0,134.00,35,0
539758,3,48,1,NaN,207.0,NaN,86.0,92.00,97.0,17.0,150.00,36,0
539759,3,48,1,NaN,NaN,NaN,70.0,86.00,95.0,11.0,144.00,37,0
539760,3,48,1,NaN,NaN,NaN,86.0,82.00,94.0,21.0,147.00,38,0
539761,3,48,1,NaN,NaN,NaN,72.0,82.00,96.0,17.0,130.00,39,0
539762,3,48,1,NaN,NaN,NaN,71.0,87.00,98.0,16.0,144.00,40,0
539763,3,48,1,NaN,244.0,NaN,70.0,88.00,96.0,16.0,140.00,41,0
539764,3,48,1,NaN,NaN,NaN,64.5,97.50,98.0,17.0,116.50,42,0
539765,3,48,1,NaN,NaN,NaN,68.5,85.67,98.0,17.5,122.25,43,0
539766,3,48,1,NaN,NaN,NaN,58.0,100.00,99.0,14.0,152.50,44,0
539767,3,48,1,NaN,NaN,NaN,68.0,74.33,99.0,17.0,128.00,45,0
539768,3,48,1,39.8,94.0,3.9,71.0,94.50,95.0,17.0,146.50,46,0
539769,3,48,1,NaN,NaN,NaN,71.0,94.00,96.0,18.0,149.00,47,0
539770,3,48,1,NaN,NaN,NaN,71.0,90.00,95.0,20.0,136.00,48,0

In [ ]:
s = s.sort_values(by=['ID','ICULOS'], ascending =[True,True])
rolling = df[['ID']+attr].groupby('ID').rolling(window=window_size, closed='both').count()
rolling= rolling.rename(columns={at: f'{window_size}w_sum_{at}' for at in attr})
rolling=rolling[list(rolling.columns)[1:]].reset_index().set_index('level_1')
combined = df.join(rolling,how='left', rsuffix= 'r')

In [10]:
s[['Unit1','Unit2']]

        Unit1  Unit2
75951     0.0    1.0
75952     0.0    1.0
75953     0.0    1.0
75954     0.0    1.0
75955     0.0    1.0
...       ...    ...
539766    NaN    NaN
539767    NaN    NaN
539768    NaN    NaN
539769    NaN    NaN
539770    NaN    NaN

[104 rows x 2 columns]

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import f1_score
import pandas as pd
import numpy as np

xgbc = XGBClassifier()
xgbc.fit(xtrain, ytrain)
y_train_pred = xgbc.predict(xtrain)
print(f'Train F1: {f1_score(ytrain,y_train_pred)}')
y_val_pred = xgbc.predict(xval)
print(f'Val F1: {f1_score(yval,y_val_pred)}')

In [28]:
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)
y_train_pred = clf.predict(xtrain)

y_pred=clf.predict(X_test)

print(f'Train F1: {f1_score(ytrain, y_train_pred)}')
y_val_pred = xgbc.predict(xval)
print(f'Val F1: {f1_score(yval, y_val_pred)}')

In [29]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Collecting xgboost
  Downloading xgboost-1.6.0-py3-none-manylinux2014_x86_64.whl (193.7 MB)
     |████████████████████████████████| 193.7 MB 23 kB/s s eta 0:00:01
Requirement already satisfied: numpy in /data/anaconda3/lib/python3.8/site-packages (from xgboost) (1.20.1)
Requirement already satisfied: scipy in /data/anaconda3/lib/python3.8/site-packages (from xgboost) (1.6.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.0
Note: you may need to restart the kernel to use updated packages.