<h1> Title </h1>

In [16]:
import pandas as pd
import os

In [30]:
data_path = '/home/student/Early_Prediction_of_Sepsis/data/train/'
demographics = pd.DataFrame()
patients = os.listdir('data/train')
df = pd.read_csv(os.path.join(data_path,patients[0]),delimiter ='|')
df['ID'] = patients[0].split('_')[-1].split('.')[0]
for patient in patients[1:]:
    patient_path = os.path.join(data_path,patient)
    patient_number = patient.split('_')[-1].split('.')[0]
    tmp_df = pd.read_csv(os.path.join(data_path,patient_path),delimiter ='|')
    tmp_df['ID'] = patient_number
    df = df.append(tmp_df)

In [31]:
df

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,77.0,0,NaN,NaN,-679.93,1,0,10022
1,58.5,96.0,NaN,133.0,54.0,30.0,28.5,NaN,NaN,NaN,...,NaN,NaN,77.0,0,NaN,NaN,-679.93,2,0,10022
2,54.0,97.0,36.4,128.0,58.0,36.0,23.0,NaN,NaN,NaN,...,NaN,NaN,77.0,0,NaN,NaN,-679.93,3,0,10022
3,58.0,97.0,NaN,116.0,50.0,28.0,21.0,NaN,NaN,NaN,...,NaN,NaN,77.0,0,NaN,NaN,-679.93,4,0,10022
4,58.0,98.0,NaN,128.0,65.0,49.0,32.0,NaN,NaN,NaN,...,NaN,NaN,77.0,0,NaN,NaN,-679.93,5,0,10022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,85.0,92.0,NaN,116.0,93.0,79.0,20.0,NaN,NaN,NaN,...,NaN,NaN,37.0,1,1.0,0.0,-54.03,33,0,8234
33,87.0,94.0,36.9,137.0,107.0,91.0,26.0,NaN,NaN,NaN,...,NaN,NaN,37.0,1,1.0,0.0,-54.03,34,0,8234
34,121.0,97.0,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,37.0,1,1.0,0.0,-54.03,35,0,8234
35,95.0,91.0,NaN,138.5,107.0,87.5,20.0,NaN,NaN,NaN,...,NaN,NaN,37.0,1,1.0,0.0,-54.03,36,0,8234
36,122.0,100.0,NaN,169.0,139.0,116.0,20.0,NaN,NaN,NaN,...,NaN,NaN,37.0,1,1.0,0.0,-54.03,37,0,8234

In [32]:
df.to_csv('train_data_combined.csv')

In [8]:
df = pd.read_csv('/home/student/Early_Prediction_of_Sepsis/data/train/patient_11082.psv',delimiter ='|')

In [25]:
df.columns

Index(['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2',
       'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN',
       'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct',
       'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
       'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
       'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1', 'Unit2',
       'HospAdmTime', 'ICULOS', 'SepsisLabel'],
      dtype='object')

In [10]:
df.describe()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
count,31.000000,28.000000,8.000000,29.000000,27.000000,29.000000,29.000000,0.0,0.0,0.0,...,1.0,0.0,1.0,37.0,37.0,37.0,37.0,3.700000e+01,37.000000,37.0
mean,103.677419,95.571429,36.250000,109.862069,77.074074,65.310345,18.413793,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,19.000000,0.0
std,9.789066,2.007921,0.531843,9.786011,7.605291,8.207590,2.666153,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,4.322063e-14,10.824355,0.0
min,85.000000,92.000000,35.500000,92.000000,60.000000,49.000000,13.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,1.000000,0.0
25%,97.500000,94.000000,35.925000,104.000000,73.000000,61.000000,17.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,10.000000,0.0
50%,102.000000,96.000000,36.250000,110.000000,76.000000,66.000000,19.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,19.000000,0.0
75%,106.500000,97.000000,36.575000,117.000000,78.500000,70.000000,20.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,28.000000,0.0
max,126.000000,100.000000,37.000000,127.000000,103.000000,86.000000,23.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,37.000000,0.0

In [15]:
df['HospAdmTime']

0    -124.42
1    -124.42
2    -124.42
3    -124.42
4    -124.42
5    -124.42
6    -124.42
7    -124.42
8    -124.42
9    -124.42
10   -124.42
11   -124.42
12   -124.42
13   -124.42
14   -124.42
15   -124.42
16   -124.42
17   -124.42
18   -124.42
19   -124.42
20   -124.42
21   -124.42
22   -124.42
23   -124.42
24   -124.42
25   -124.42
26   -124.42
27   -124.42
28   -124.42
29   -124.42
30   -124.42
31   -124.42
32   -124.42
33   -124.42
34   -124.42
35   -124.42
36   -124.42
Name: HospAdmTime, dtype: float64

In [14]:
df.describe()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
count,31.000000,28.000000,8.000000,29.000000,27.000000,29.000000,29.000000,0.0,0.0,0.0,...,1.0,0.0,1.0,37.0,37.0,37.0,37.0,3.700000e+01,37.000000,37.0
mean,103.677419,95.571429,36.250000,109.862069,77.074074,65.310345,18.413793,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,19.000000,0.0
std,9.789066,2.007921,0.531843,9.786011,7.605291,8.207590,2.666153,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,4.322063e-14,10.824355,0.0
min,85.000000,92.000000,35.500000,92.000000,60.000000,49.000000,13.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,1.000000,0.0
25%,97.500000,94.000000,35.925000,104.000000,73.000000,61.000000,17.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,10.000000,0.0
50%,102.000000,96.000000,36.250000,110.000000,76.000000,66.000000,19.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,19.000000,0.0
75%,106.500000,97.000000,36.575000,117.000000,78.500000,70.000000,20.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,28.000000,0.0
max,126.000000,100.000000,37.000000,127.000000,103.000000,86.000000,23.000000,NaN,NaN,NaN,...,4.8,NaN,143.0,70.0,0.0,1.0,0.0,-1.244200e+02,37.000000,0.0

In [13]:
df2 = pd.read_csv('/home/student/Early_Prediction_of_Sepsis/data/train/patient_10964.psv',delimiter ='|')
df2

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,1,0
1,96.0,100.0,NaN,151.0,89.0,55.0,14.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,2,0
2,95.0,100.0,NaN,178.0,107.0,63.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,3,0
3,88.0,100.0,36.1,130.0,101.0,75.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,4,0
4,88.5,100.0,NaN,132.0,96.5,72.0,16.0,NaN,NaN,NaN,...,19.7,NaN,247.0,69,0,0,1,-11.08,5,0
5,97.0,100.0,NaN,132.0,79.0,49.0,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,6,0
6,97.0,100.0,NaN,113.0,76.0,53.0,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,7,0
7,88.0,100.0,NaN,113.0,66.0,43.0,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,8,0
8,79.0,100.0,NaN,101.0,68.0,46.0,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,9,0
9,83.0,100.0,NaN,133.0,79.0,51.0,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,10,0
10,80.0,100.0,NaN,127.0,75.0,48.0,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,11,0
11,80.0,100.0,NaN,137.0,78.0,49.0,10.0,NaN,NaN,NaN,...,18.4,NaN,249.0,69,0,0,1,-11.08,12,0
12,80.0,100.0,NaN,154.0,88.0,54.0,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,13,0
13,72.0,100.0,NaN,153.0,89.0,55.0,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,14,0
14,75.0,100.0,36.1,148.0,90.0,56.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,15,0
15,72.0,100.0,NaN,137.0,83.0,54.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,16,0
16,75.0,100.0,NaN,151.0,90.0,56.0,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,17,0
17,71.0,100.0,NaN,134.0,87.0,60.0,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,18,0
18,81.0,100.0,NaN,173.0,104.0,66.0,19.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,19,0
19,83.0,100.0,35.6,187.0,117.0,74.0,14.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,20,0
20,73.0,100.0,NaN,160.0,95.0,58.0,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,21,0
21,81.0,100.0,NaN,177.0,109.0,66.0,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,22,0
22,89.0,100.0,NaN,152.0,83.0,50.0,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,23,0
23,89.0,100.0,36.7,127.0,84.0,58.0,25.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,24,0
24,92.0,100.0,NaN,140.0,94.0,65.0,21.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,25,0
25,92.0,100.0,NaN,141.0,92.0,64.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,26,0
26,88.0,100.0,NaN,139.0,89.0,62.0,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,27,0
27,90.5,100.0,36.6,137.0,89.0,62.0,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,28,0
28,87.0,99.0,NaN,140.0,87.0,60.0,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,29,0
29,84.0,98.0,NaN,149.0,96.0,67.0,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,30,0
30,90.0,97.0,NaN,155.0,98.0,68.0,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,31,0
31,94.0,97.0,NaN,159.0,96.0,67.0,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,32,0
32,95.0,98.0,NaN,164.0,100.0,70.0,12.0,NaN,NaN,NaN,...,15.0,NaN,248.0,69,0,0,1,-11.08,33,0
33,92.0,98.0,NaN,178.0,109.0,76.0,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,34,0
34,95.0,97.0,NaN,165.0,NaN,72.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,35,0
35,97.0,97.0,NaN,169.0,105.0,73.0,14.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,36,0
36,97.0,94.0,NaN,148.0,93.0,65.0,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,37,0
37,94.0,93.0,NaN,167.0,100.0,70.0,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,38,0
38,94.0,94.0,NaN,159.0,101.0,70.0,14.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,39,0
39,88.0,94.0,37.0,154.0,98.0,68.0,14.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,40,0
40,86.0,96.0,NaN,153.0,99.0,69.0,17.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,41,0
41,89.0,95.0,NaN,166.0,111.0,77.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,42,0
42,97.0,96.0,NaN,152.0,100.0,70.0,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,43,0
43,86.0,95.0,NaN,138.0,90.0,63.0,17.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,44,0
44,94.0,95.0,NaN,172.0,109.0,76.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,45,0
45,100.0,95.0,NaN,158.0,98.0,68.0,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,46,0
46,98.0,95.0,NaN,163.0,105.0,73.0,19.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,47,0
47,106.0,96.0,37.2,174.0,109.0,76.0,26.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,48,0
48,106.0,96.0,NaN,179.0,111.0,77.0,23.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,49,0
49,98.0,94.0,NaN,152.0,98.0,68.0,21.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,50,0
50,99.0,95.0,NaN,149.0,95.0,69.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,51,0
51,121.0,93.0,36.9,167.0,100.0,70.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,52,0
52,99.0,97.0,NaN,144.0,90.0,63.0,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,53,0
53,104.0,95.0,NaN,147.0,95.0,66.0,24.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,54,0
54,94.0,95.0,NaN,169.0,104.0,72.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,55,0
55,104.0,97.0,36.8,117.0,118.0,82.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,69,0,0,1,-11.08,56,0